@font-face {
  font-family: "Sen";
  font-weight: 400;
  font-face-name: Sen-Regular;
  src: url("../fonts/Sen-Regular.ttf");
}

@font-face {
  font-family: "Sen";
  font-face-name: Sen-Bold;
  font-weight: 700;
  src: url("../fonts/Sen-Bold.ttf");
}

@font-face {
  font-family: "Sen";
  font-face-name: Sen-ExtraBold;
  font-weight: 800;
  src: url("../fonts/Sen-ExtraBold.ttf");
}

@font-face {
  font-family: "Sen";
  font-face-name: Sen-Medium;
  font-weight: 500;
  src: url("../fonts/Sen-Medium.ttf");
}

@font-face {
  font-family: "Sen";
  font-face-name: Sen-SemiBold;
  font-weight: 600;
  src: url("../fonts/Sen-SemiBold.ttf");
}
