.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--second-background-color);
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 0 20px var(--shadow-color);
}

.nav {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  margin-left: 20px;
  cursor: pointer;
}

.userNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  gap: 10px
}

.link {
  display: inline-block;
  flex-grow: 1;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-weight: 500;
}

.active {
  background-color: var(--purple-color);
  font-weight: 500;

  &:hover {
    color: inherit;
  }
}

.themeButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;

  &:focus {
    outline: none;
  }
}

.themeIcon {
  cursor: pointer;
  transition: opacity 0.1s linear;
  -webkit-user-drag: none;
  user-select: none;

  &:hover {
    opacity: 0.7;
  }
}